* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    grid-template-columns: 1fr;
}

h1 h2 h3 {
    font-family: 'Playfair Display', sans-serif;
}

header {
    width: 100%;
    min-height: 80px;
    background: #EAE7DC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header a{
    border-radius: 980px;
    transition: background 0.3s ease, transform 0.3s, box-shadow 0.3s;
}
header a:hover{
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 25), 0 0 20px rgba(37, 99, 235, 0.6);
}
.header-container{
    gap: 20px;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}        
.hero {
    /*Couleur de fond*/
    background: linear-gradient(135deg, #020617,#020617,#0F172A);
    /* Couleur de fond*/
    color: #38BDF8;
    /*Alignement du texte au centre*/
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.hero button{
    background: #060a1f;
    color: #38BDF8;
    padding: 14px 32px;
    border-radius: 980px;
    transition: background 0.3s ease, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.hero button:hover{
    background: #414a7d;
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 25), 0 0 20px rgba(37, 99, 235, 0.6);
}

.hero h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -1px;
    line-height: 1.1;
}

.hero P{
     font-size: 1.3rem;
    color: #CBD5F5;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-weight: 400;
}

nav a{
    color: #1d1d1f;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    
    
}

.logo a{
    color: #1d1d1f;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.apropos{
    background-color: #0F172A;
    color: #94A3B8;
    min-height: 100vh;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    scroll-margin-top: 80px;
    gap: 60px;
}
.apropos h2{
    color: #38BDF8;
    margin-bottom: 24px;
    letter-spacing: -1px;
    line-height: 1.1;
}
.apropos h3{
    font-weight: 700;
    color: #94A3B8;
    margin-bottom: 24px;
    letter-spacing: -0.5px;
}
.photo{
    height: 100%;
}
.photo img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about,
.photo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: -1;
}
.competences{
    background-color: #020617;
    color: #CBD5F5;
    padding: 60px;
    min-height: 100vh;
    justify-content: center;
    scroll-margin-top: 80px;
    align-items: center;
}
.competences h2{
    color: #E5E7EB;
    font-size: 3rem;
    margin-bottom: 60px;
    line-height: 1.1;
}
.competences-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
.competences-block h3{
    color: #38BDF8;
    margin-bottom: 20px;
    opacity: 0.8;
}
.competences-card{
    display: flex;
    align-items: center;
    gap: 12px;
    background: #060a1f;
    border-radius: 12px;
    padding: 14px 18px;
    margin-bottom: 12px;
    backdrop-filter: blur(10px);
   
    
}

@media (max-width: 900px){
    .competences-grid{
        grid-template-columns: 1fr;
    }
}
.projet{
    background: linear-gradient(180deg, #020617, #0F172A);
    color: #CBD5F5;
    padding: 60px;
    min-height: 100vh;
    scroll-margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.projet h2{
    color: #E5E7EB;
    font-size: 3rem;
    margin-bottom: 60px;
    line-height: 1.1;
}
.projet p{
     color: #E5E7EB;
}
.projet-grid{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
.projet-block h3{
    color: #38BDF8;
    margin-bottom: 20px;
    opacity: 0.8;
}
.projet-card a{
    text-decoration: none;
}
.projet-card{
    display: block;
    align-items: center;
    gap: 12px;
    background: #020617;
    border-radius: 12px;
    padding: 14px 18px;
    margin-bottom: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(11, 4, 4, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projet-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(124, 124, 255, 0.25);
}
@media (max-width: 900px){
    .projet-grid{
        grid-template-columns: 1fr;
    }
}
.parcours{
    background-color: #0F172A;
    color: #38BDF8;
    padding: 60px;
    min-height: 100vh;
    scroll-margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.parcours h2{
    color: #E5E7EB;
    font-size: 3rem;
    margin-bottom: 60px;
    line-height: 1.1;
}
#parcour1{
    margin-bottom: 60px;
    line-height: 1.1;
}
#parcour2{
    margin-bottom: 60px;
    line-height: 1.1;
}
.parcours P{
    color: #CBD5F5;
}
.vsa{
    scroll-margin-top: 80px;
    background-color: #020617;
    color: #94A3B8;
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.vsa ul{
    list-style-type: none;
}
.vsa h2{
    color: #E5E7EB;
    font-size: 3rem;
    margin-bottom: 60px;
    line-height: 1.1;
}
.vsa-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 60px;
    line-height: 1.6;
}

.vsa-block h3{
    color: #38BDF8;
    margin-bottom: 20px;
    opacity: 0.8;
    align-items: center;
}

.vsa-card{
    display: grid;
    margin-right: auto;
    line-height: 1.6;
    gap: 12px;
    background-color: #0F172A;
    border-radius: 12px;
    padding: 14px 14px 14px;
    margin-bottom: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(11, 4, 4, 0.08);
    
}


.contact {
    background: linear-gradient(135deg, #020617, #0F172A, #1E293B);
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.contact h2{
    color: #38BDF8;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -1px;
    line-height: 1.1;
}
.contact P{
    font-size: 1.3rem;
    color: #CBD5F5;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-weight: 400;
}
.link-contact {
    display: flex;
    text-decoration: none;
    gap: 20px;
}
.contact a{
    text-decoration: none;
    color: #39BDF8;;
}
footer{
    background: #1E293B;
    color: #CBD5F5;
}
